.gallery {
  background: $gallery-background;
  width: 100%;
  color: $gallery-text-color;
  text-shadow: 1px 1px 0 black,
               -1px 1px 0 black,
               1px -1px 0 black,
               -1px -1px 0 black;
  padding: $padding1 $padding1 0;
}


.card {
  img {
    @include border-radius($border-radius, $border-radius, $border-radius, $border-radius);
  }

  h4 {
    @include font($header-font);
    font-size: 20px;
  }

  &:nth-child(odd) {
    text-align: right;
  }

  &:nth-child(even) {
    text-align: left;
  }
}
