header {
  background: $header-background;
  height: $header-height;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding1;
  color: $header-text-color;
}
