header {
  background: $header-background;
  height: $header-height;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding1;
  color: $header-text-color;

  @include font($header-font);

  @include media(md) {
    h1 {
      font-size: 2.25em;
    }
  }

  @include media(lg) {
    height: calc($header-height + 20px);
    h1 {
      font-size: 2.75em;
    }
  }

  @include media(xl) {
    height: calc($header-height + 40px);
    h1 {
      font-size: 3.25em;
    }
  }
}
