// Base mixins

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
      content: " ";
      display: table;
  }
  &:after {
      clear: both;
  }
}

@mixin card-img($direction, $width) {
  width: $width;
}

@mixin font($type) {
  font-family: $type;
}

@mixin border-radius($top, $right, $bottom, $left) {
  border-radius: $top $right $bottom $left;
}
