// Grid Variables

$grid-columns: 12;
$column-padding: 1em;

$breakpoints: (
  'sm':'screen and (min-width:1px)',
  'md':'screen and (min-width:768px)',
  'lg':'screen and (min-width:1024px)',
  'xl':'screen and (min-width:1440px)'
);

// Colors
$light-sand: rgba(241, 232, 228, .6);
$burnt-orange: rgba(184, 75, 22, 1);
$brown: rgba(82, 58, 45, 1);
$teal: rgba(14, 125, 118, 1);
$main-font-color: $brown;

// Specific colors
$header-background: transparent;
$header-text-color: $burnt-orange;
$description-background: $light-sand;
$gallery-background: $light-sand;
$footer-background: $light-sand;

// Global Sizes
$padding1: 10px;
$border-radius: 8px;

// Specific sizes
$header-height: 60px;
$hero-height: 100vh;
$description-height: 28vh;
$description-side-margin: 2vh;
$description-margin: 70vh $description-side-margin 2vh;
$card-height: 300px;

$footer-height: 100px;
