.card {
  height: $card-height;
}

.card-inner {
  height: 100%;
  width: 100%;
  padding: $padding1;
  position: relative;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-body{
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  padding: $padding2;
}
