.card {
  height: $card-height;
}

.card-inner {
  height: 100%;
  width: 100%;
  padding: $padding1;
  position: relative;
}

.card-img {
  height: $card-img-height;
  width: 100%;
  object-fit: cover;
}

.card-body{
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  padding: $padding2;
}

@media #{$breakpoint-lg} {
  .card {
    height: $card-height-lg;
    color: $brown;
    text-shadow: none;
  }

  .card-inner > * {
    position: static;
  }

  .card-img {
    height: $card-img-height-lg;
  }
}
@media #{$breakpoint-xl} {
  .card-img {
    height: $card-img-height-xl;
    width: $card-img-width-xl;
  }

  .card-body {
    width: calc(100% - #{$card-img-width-xl});
  }

  .card:nth-child(3n+1) {
    .card-img {
      float: left;
    }

    .card-body {
      float: right;
    }
  }

  .card:nth-child(2), .card:nth-child(3) {
    .card-img {
      float: right;
    }

    .card-body {
      float: left;
    }
  }
}
