.card {
  margin: $card-margin 0; 
  height: $card-height;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.card-body{
  position: absolute;
  width: 100%;
  padding: 0 $padding1;
  bottom: 20px;
  z-index: 99;
}
